.tracks {
  grid-column: 2 / -2;
  grid-row: 2 / span 1;
  background: var(--machine-color-light);
  border: 1px solid var(--machine-border-dark);
  padding-left: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  position: relative;
}

.temporary-title {
  font-size: 9px;
  position: absolute;
  top: 1rem;
}

@media only screen and (max-width: 850px) {
  .tracks {
    height: 780px;
    width: 400px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 380px) {
  .slider input {
    width: 370px;
  }
}
