.slider {
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg) translate(-140px, -15px);
  width: 10px;
  height: 50px;
  position: relative;
}

.slider__label {
  display: inline-block;
  transform: translate(5px, -9px);
  color: var(--main-font-color-dark);
  text-transform: uppercase;
  font-size: 0.5rem;
}

.slider__value {
  display: block;
  font-size: 10px;
  transform: rotate(90deg) translate(160px, 170px);
  width: 300px;
}

.slider input {
  width: 300px;
}

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 6.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1.7px 1.7px 1.3px rgba(0, 0, 0, 0.67),
    0px 0px 1.7px rgba(13, 13, 13, 0.67);
  border: 0.3px solid #000000;
  height: 24px;
  width: 8px;
  border-radius: 2px;
  background: rgba(248, 248, 248, 0.98);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10.95px;
  cursor: grab;
}

input[type='range']::-webkit-slider-thumb:active {
  cursor: grabbing;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type='range']::-moz-range-track {
  height: 6.1px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 0px;
  border: 0px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1.7px 1.7px 1.3px rgba(0, 0, 0, 0.67),
    0px 0px 1.7px rgba(13, 13, 13, 0.67);
  border: 0.3px solid #000000;
  height: 28px;
  width: 8px;
  border-radius: 2px;
  background: rgba(248, 248, 248, 0.98);
  cursor: grab;
}

input[type='range']::-moz-range-thumb {
  cursor: grabbing;
}
input[type='range']::-ms-track {
  height: 6.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 1.7px 1.7px 1.3px rgba(0, 0, 0, 0.67),
    0px 0px 1.7px rgba(13, 13, 13, 0.67);
  border: 0.3px solid #000000;
  height: 28px;
  width: 8px;
  border-radius: 2px;
  background: rgba(248, 248, 248, 0.98);
  cursor: grab;
  height: 6.1px;
}

input[type='range']::-ms-thumb {
  cursor: grabbing;
}
input[type='range']:focus::-ms-fill-lower {
  background: #000000;
}
input[type='range']:focus::-ms-fill-upper {
  background: #000000;
}

@media only screen and (max-width: 850px) {
  .slider {
    transform: rotate(0deg) translateX(-150px);
    height: 10px;
    width: 50px;
  }
}
