.tooltip {
  padding: 0.5rem 1.5rem;
  background-color: rgba(0, 0, 0, 0.461);
  border-radius: 6px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 10.5rem;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  cursor: default;
}

.tooltip p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0);
  transition: color 2s ease-in-out;
}

.tooltip--small {
  width: 200px;
}
.tooltip--medium {
  width: 400px;
}
.tooltip--large {
  width: 600px;
}
.tooltip--auto {
  width: auto;
}
