.controls-bottom {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  /* height: 150px; */
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
