.slider__master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90px;
  padding-bottom: 2rem;
}

.slider__label--master {
  display: inline-block;
  transform: translate(5px, -9px);
  color: var(--main-font-color-dark);
  text-transform: uppercase;
  font-size: 0.5rem;
}

.slider__value--master {
  display: block;
  font-size: 10px;
  /* transform: rotate(90deg) translate(160px, 170px); */
  width: 300px;
}

.slider__master input {
  width: 70%;
}

@media only screen and (max-width: 850px) {
  .slider__master {
    transform: rotate(0deg) translateX(-150px);
    height: 10px;
    width: 50px;
  }
}
