:root {
  --main-bg-color-dark: #0e171f;
  --main-bg-color-light: #5a8ab5;

  /* fonts */
  --main-font-color: rgb(232, 232, 232);
  --main-font-color-light: rgb(255, 255, 255);
  --main-font-color-dark: rgb(121, 121, 121);
  --yellow-font-color: rgb(135, 128, 87);
  --yellow-font-color-light: rgb(228, 210, 108);
  --yellow-font-color-dark: rgb(121, 111, 55);

  --yellow-link-color-active: rgb(174, 141, 59);
  --yellow-link-color-hover: rgb(220, 179, 77);

  --yellow-header-color: rgb(203, 164, 57);

  /* machine */
  --machine-color-light: rgb(14, 14, 14);
  --machine-color-dark: rgb(7, 7, 7);
  --machine-border-dark: rgb(19, 19, 19);
  --machine-border-light: rgb(33, 33, 33);
  --machine-color-shadow: rgba(93, 135, 172, 0.563);
  --machine-color-shadow-light: rgba(125, 174, 216, 0.317);

  /* buttons */

  --button-machine: rgb(9, 9, 9);
  --button-machine-hover: rgb(12, 12, 12);
}
