.App-header,
.nav-links {
  display: flex;
  justify-content: space-between;
}

.App-header {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  padding: 0 2rem;
  align-items: flex-end;
}

.logo,
.nav-links {
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
  text-shadow: 0 0 6px var(black);
}

.logo:hover {
  color: white;
}

.nav-links {
  padding: 0;

  display: flex;
  min-width: 20vw;
}

.nav-links a {
  font-size: 14px;
}

.nav-links a:not(:last-child) {
  padding-right: 1rem;
}

.selected-link {
  color: var(--yellow-link-color-active);
}

selected-link .nav-links li:not(:last-child) {
  padding-right: 1rem;
}
