.controls-top,
.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.controls-top {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.headphones {
  margin: 0;
}
.headphones::after {
  content: '?';
  font-size: 12px;
  display: block;
  text-align: center;
  transform: translateY(-33px);
}

.headphones__img {
  height: 30px;
}

.headphones:hover {
  filter: brightness(130%);
}

.headphones:hover + .tooltip {
  opacity: 1;
}

.headphones:hover + .tooltip p {
  color: white;
}
