.machine {
  background: var(--machine-color-dark);
  border-top: 2px solid var(--machine-color-shadow);
  border-left: 2px solid var(--machine-color-shadow);
  border-right: 2px solid var(--machine-color-shadow);
  border-radius: 6px;
  min-width: 840px;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
}

@media only screen and (max-width: 850px) {
  .machine {
    min-width: 490px;
    min-height: 1000px;
    margin-bottom: 5rem;
  }
}
